{% load djittertags %}
<li class="user">
	<a href="{% url view user.username %}">
		<img src="{% gravatar user.email 48 %}" class="pull-left avatar" />
		<strong>{{ user.profile.name }}</strong>
		<span class="username">@{{ user.username }}</span>
	</a>
	{% if req.user.is_autheticated %}
		{% if req.user == user %}
			<a class="pull-right btn" href="{% url view req.user.username %}">My profile</a>
		{% else %}
			<a class="pull-right btn{% if user in req.user.profile.following.all %}-primary{% endif %}" href="{% url follow user.username %}">
			{% if user in req.user.profile.following.all %}Unfollow{% else %}Follow{%endif %}
			</a>
		{% endif %}
	{% endif %}
	<p>{{ user.profile.bio }}</p>
</li>
