<!DOCTYPE html>
{% load i18n %}
{% load djittertags %}
<html lang="en" dir="ltr">

<head>
	<title>{% block title %}Djitter{% endblock %}</title>
	
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	
	<link rel="icon" type="image/png" href="favicon.png" />
	
	<script type="text/javascript" src="{{ STATIC_URL }}js/head.min.js"></script>
	
	<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/styles.css" />
</head>

<body>
	<div id="wrapper">
		<div id="header">
			{% block header %}
			<div class="navbar navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container">
						<a class="brand" href="{% url home %}">Djitter</a>
						<ul class="nav">
							<li class="active"><a href="{% url home %}">Home</a></li>
							<li><a href="#">Connect</a></li>
							<li><a href="#">Discover</a></li>
							</ul> <!-- .nav -->
						{% if user.is_authenticated %}
						<ul class="nav pull-right">
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">Chirp</a>
								<ul class="dropdown-menu">
									<li>
										<form action="{% url cheep %}" method="POST">
										{{ chirper }}
										<input type="submit" value="Chirp!" />
										{% csrf_token %}
										</form>
									</li>
								</ul>
							</li>
						</ul>
						<ul class="nav pull-right">
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">
									<i class="icon-user icon-white"></i>
									{{ user.username }}
									<strong class="caret"></strong>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="{% url view user.username %}"><strong>{{ user.get_full_name }}</strong><br />View my profile page</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="{% url edit %}">Edit Profile</a>
									</li>
									<li><a href="{% url auth_password_change %}">Change password</a>
									</li>
									<li>
										<a href="{% url auth_logout %}">Log out</a>
									</li>
								</ul> <!-- .dropdown-menu -->
							</li> <!-- .dropdown -->
						</ul> <!-- .nav.pull-right -->
						{% else %}
						<ul class="nav pull-right">
							<li><a href="{% url auth_login %}">Log in</a></li> 
							<li><a href="{% url registration_register %}">Register</a></li>
						</ul>
						{% endif %}
					</div> <!-- .container-fluid -->
				</div> <!-- .navbar-inner -->
			</div> <!-- .navbar.navbar-fixed-top -->
			{% if messages %}
				<ul class="messages">
				{% for message in messages %}
					<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				{% endfor %}
				</ul>
			{% endif %}
			{% endblock %}
		</div>
		<div id="content" class="container">
			{% block content %}{% endblock %}
		</div>
		<footer>
			<em>Go beyond the impossible and kick reason to the curb!</em>
		</footer>
	</div> <!-- #wrapper -->

<!-- Google Analytics -->
<script type="text/javascript">
	head.js(
		  'https://ajax.microsoft.com/ajax/jquery/jquery-1.7.1.min.js'
		, '{{ STATIC_URL }}js/bootstrap.js'
		);
</script>
</body>

</html>
