<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<title>{% block title %}djitter{% endblock %}</title>
	
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	
	<link rel="icon" type="image/png" href="favicon.png" />
	
	<script type="text/javascript" src="{{ STATIC_URL }}js/head.min.js"></script>
	
	<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/styles.css" />
</head>

<body>
	<div id="wrapper">
		<div id="header">
			{% block header %}
			<a href="{% url home %}">Home</a> | 
	
			{% if user.is_authenticated %}
			Logged in: {{ user.username }} 
	
			(<a href="{% url auth_logout %}">Log out</a> | 
	
			<a href="{% url auth_password_change %}">Change password</a>)

			<a href="{% url view user.username %}">My Profile</a> | 	
			{% else %}
	
			<a href="{% url auth_login %}">Log in</a>
			| 
			{% endif %}
			<hr />
			{% endblock %}
		</div>
		<div id="content">
			{% block content %}{% endblock %}
		</div>
		<footer>
			<em>Go beyond the impossible and kick reason to the curb!</em>
		</footer>
	</div> <!-- #wrapper -->

<!-- Google Analytics -->
<script type="text/javascript">
	head.js('https://ajax.microsoft.com/ajax/jquery/jquery-1.7.1.min.js', '{{ STATIC_URL }}js/init.js');
</script>
</body>

</html>
