{% extends "loggedin.html" %}

{% block title %}{{ user.get_full_name }} ({{ user.username }}) on {{ block.super }}{% endblock %}

{% block content %}

<div class="row">
	<div class="span10 offset1">
		<div class="row">
			<div class="span8">
				<img src="http://placehold.it/128x128" class="pull-left" />
				
				<h1 class="fullname">{{ user.get_full_name }}</h1>
				<h2 class="username">@{{ user.username }}</h2>
				<p class="bio">{{ user.profile.bio }}</p>
				<p class="location-and-url">
					<span class="location">{{ user.profile.location }}</span>
					<span class="divider">·</span>
					<span class="url">{{ user.profile.url}}</span>
				</p>
			</div> <!-- .span8 -->
			<div class="pull-right">
				{% if mine %}
					<a class="btn" href="{% url edit %}">Edit your profile</a>
				{% else %}
					<a class="btn{% if following %}-primary{% endif %}" href="{% url follow user.username %}">{% if following %}Following{% else %}Follow{%endif %}</a>
				{% endif %}
			</div>
		</div> <!-- .row -->
	</div> <!-- .span10.offset1 -->
</div> <!-- .row -->



<h3>Recent chirps:</h3>
<ul id="chirps">
	{% for chirp in chirps %}
		<li class="chirp">
			<a href="{% url view chirp.user.username %}">{{ chirp.user.username }}</a>
			<p>{{ chirp.text }}</p>
		</li>
	{% endfor %}
</ul>

<h3>Following:</h3>
<ul id="following">
	{% for followee in user.profile.following.all %}
		<li class = "followee">
			<a href = "{% url view followee.username %}">{{ followee.username }}</a>
		</li>
	{% endfor %}
</ul>

<h3>Followers:</h3>
<ul id="followers">
	{% for follower in user.profile_set.all %}
		<li class = "follower">
			<a href = "{% url view follower.user.username %}">{{ follower.user.username }}</a>
		</li>
	{% endfor %}
</ul>

<form action="{% url follow user.username %}" method="POST">
	<input type="submit" value="{{ follow }} {{ user.username }}" />
	{% csrf_token %}
</form>

<ul id="chirps">
	{% for chirp in chirps %}
		<li class="chirp">{{ chirp.text }}</li>
	{% endfor %}
</ul>

{% endblock %}
