{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ block.super }} / Login{% endblock %}

{% block content %}

<form method="POST" action="{% url auth_login %}">
	{% csrf_token %}
	<table>{{ form.as_p }}</table>
	<input type="submit" value="{% trans 'Log in' %}" />
	<input type="hidden" name="next" value="{{ next }}" />
</form>

<p>{% trans "Forgot password" %}? <a href="{% url auth_password_reset %}">{% trans "Reset it" %}</a>!</p>
<p>{% trans "Not member" %}? <a href="{% url registration_register %}">{% trans "Register" %}</a>!</p>
{% endblock %}
